<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jn.retail.discount.coupon.provider.dal.mapper.CouponTemplateMapper">

    <select id="getPage" resultType="cn.jn.retail.discount.coupon.provider.dal.view.CouponTemplateExpandView">
        <include refid="couponTemplateExpandViewSql"></include>
    </select>
    <select id="getSyncStatusList" resultType="cn.jn.retail.discount.coupon.provider.dal.view.CouponTemplateExpandView">
        <include refid="couponTemplateExpandViewSql"></include>
    </select>
    <sql id="couponTemplateExpandViewSql">
        SELECT rct.id, rct.name, rct.code, rct.type, rct.status, rct.amount, rct.description, rct.gmt_create,
        rct.gmt_modified, rct.is_deleted, rct.version, rct.tenant_id, rctc.order_way, rctc.full_reduce,
        rctc.all_product, rctc.valid_start_time, rctc.valid_end_time, rctc.valid_days, rctc.enable_personal_discount,
        rctc.less_low_price
        FROM retail_coupon_template rct,retail_coupon_template_conditions rctc
        WHERE rct.id=rctc.coupon_template_id AND rct.tenant_id=rctc.tenant_id AND rct.is_deleted=0 AND rctc.is_deleted=0
        <if test="ew.sqlSegment != null and ew.sqlSegment != '' and ew.nonEmptyOfWhere">
            and
        </if>
        <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
            ${ew.sqlSegment}
        </if>
    </sql>
</mapper>
